@import "@fluentui/react/dist/sass/References";

.player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  @include ms-depth-8;
  
  &>div{
    display: flex;
    flex-direction: row; 
    justify-content:flex-start;
    align-items: baseline;
  }
}
