.App {
  text-align: center;
  width: 1024px;
  text-align: center;
  margin: 0 auto;
}

.Header {
  display: flex;
  justify-content: space-between;
}
.UserContainer {
  align-items: center;
  display: flex;
}
.MyUser {
  flex-flow: nowrap;
  display: flex;
}
